/* Global */
body {
    font-family: Arial, sans-serif;
    background: #000;
    color: #fff;
    line-height: 1.5;
}

span {
    color: #ff6b35;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #ff6b35;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ff6b35;
}

/* Header */
header {
    text-align: center;
    padding: 80px 20px;
}

header h2 {
    font-size: 36px;
}

header h3 {
    text-align: center;
}

header p {
    margin: 15px 0;
}


/* Bouton */
.btn {
    display: inline-block;
    padding: 10px 25px;
    background: #ff6b35;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

/* Sections */
section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* Cartes */
.cards {
    text-align: center;
}

.cards div {
    border: 1px solid #ff6b35;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 20px;
}

/* Listes */
ul {
    list-style: none;
}

/* Footer */
footer {
    width: 100%;
    text-align: center;
    padding: 30px 20px;
    border-top: 1px solid #ff6b35;
    font-size: 14px;
}
